
body{
    margin: 0;
    padding: 0;
    background-image: url('../bgimg.jpg');
    background-size: cover;
    width: 100%;
}
ul{
    display: flex;
    justify-content: center;
    /* background-color: #1e2a42; */
    margin: 0;
    padding: 0;
    font-family:'Doto';
}
li{
    display: inline;
    margin: 15px;
    

}
ul li a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
}
ul li a:hover {
    text-decoration: none;
    color: #ffbb00; /* Change text color on hover */ /* Background color on hover */
    /* border-radius: 5px; Optional rounded corners on hover */
}
.middle-section{
    
    margin-top: 150px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family:'Poppins';
    
}
.content-box{
    background: rgba(33, 40, 82, 0.437); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Optional border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional shadow */
    height: 400px;
    width: 70%;
    text-align: center;
    border-radius: 15px;
    
}
.content-button{
    margin: 70px;
    display: flex;
    justify-content: center;
}
.custom-button {
    display: flex;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
    font-family: doto;
    font-size: 16px;
    color: #ffffff; /* Text color */
    background-color: transparent; /* Transparent background */
    border: 2px solid #ffbb00be; /* Border color */
    border-radius: 25px; /* Rounded corners */
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}
.custom-button i {
    margin-right: 8px; /* Adjust spacing between icon and text */
    font-size: 18px; /* Adjust icon size if needed */
}

/* Hover effect */
.custom-button:hover {
    background-color: #333333;
    color: #fff;
}

.custom-button:hover i {
    color: #fff; /* Change icon color on hover */
}
/* Hover effect */
